In [3]:
import pandas as pd

In [5]:
data =[4,8,15,16,23,42]
df=pd.Series(data)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [8]:
d=[1,"house",3,"owl","ice","night","mare",8,'apple','height']
d2=pd.Series(d)
print(d2)

0         1
1     house
2         3
3       owl
4       ice
5     night
6      mare
7         8
8     apple
9    height
dtype: object

In [19]:
d3={
 "Name" :['Alice' ,"Bob", "Claire"],
 "Age" : [25,30,27],
  "Gender": ["female","Male","Female"]

}

new=pd.DataFrame(d3)
print(new)

     Name  Age  Gender
0   Alice   25  female
1     Bob   30    Male
2  Claire   27  Female

# A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
# DataFrame is different from pyhton series like
     Pandas Series                   DataFrame
      
    One_dimensional                  Two_dimensional
    Homogeneous(Series Elements      Heterogeneous(Dataframe elements have 
    must be same data type)           different data type)

Example 1: Remove Column from pandas DataFrame.
Example 2: Add New Column to pandas DataFrame.
Example 3: Merge Two pandas DataFrames.
Example 4: Rename Columns of pandas DataFrame.
Example 5: Remove Row from pandas DataFrame.
Example 6: Add New Row to pandas DataFrame.

In [21]:
data = pd.DataFrame({"x1":["x", "y", "x", "y", "x", "x"],  # Create pandas DataFrame
                     "x2":range(15, 21),
                     "x3":["a", "b", "c", "d", "e", "f"],
                     "x4":range(20, 8, - 2)})
print(data)

  x1  x2 x3  x4
0  x  15  a  20
1  y  16  b  18
2  x  17  c  16
3  y  18  d  14
4  x  19  e  12
5  x  20  f  10

In [22]:
data_drop = data.drop("x3", axis = 1)
print(data_drop)

  x1  x2  x4
0  x  15  20
1  y  16  18
2  x  17  16
3  y  18  14
4  x  19  12
5  x  20  10

In [29]:
x5=[34,56,56,78,78,89]
data_add= data.assign(x5=x5)
print(data_add)

  x1  x2 x3  x4  x5
0  x  15  a  20  34
1  y  16  b  18  56
2  x  17  c  16  56
3  y  18  d  14  78
4  x  19  e  12  78
5  x  20  f  10  89

In [ ]:
#DataFrame is mutable , Series is immutable.